<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunyanxiong.ssm.mapper.OrdersMapper">
    <!--*****************-->
    <!-- 查询全部订单信息 -->
    <sql id="query_orderstate">
        AND orders.userid = users.id
        <if test="orderstate != null">
          AND orders.orderstate = #{orderstate}
        </if>
    </sql>

    <resultMap id="allOrders" type="orders">
        <!-- orders:id -->
        <id column="id" property="id"/>
        <result column="userid" property="userid"/>
        <result column="ordertime" property="ordertime"/>
        <result column="orderstate" property="orderstate"/>
        <result column="orderprice" property="orderprice"/>
        <!-- users -->
        <association property="users" column="users" javaType="users">
            <!-- users:id -->
            <id column="id" property="id"/>
            <result column="loginname" property="loginname"/>
        </association>
    </resultMap>
    <select id="findAllOrders" parameterType="ordersCustom" resultMap="allOrders">
        select orders.id,
               orders.userid,
               orders.ordertime,
               orders.orderstate,
               orders.orderprice,
               users.loginname
               from orders,users
               <where>
                   <include refid="query_orderstate"></include>
               </where>
    </select>

    <!--*****************-->
    <!-- 修改订单状态 -->
    <update id="alertState" parameterType="orders">
        update orders set orders.orderstate = #{orderstate}
		              where orders.id = #{id}
    </update>

    <!--*****************-->
    <!-- 查看订单明细 -->
    <resultMap id="allOrderdts" type="orderdtsCustom">
        <!-- orderdts: -->
        <id column="id" property="id"/>

        <result column="orderid" property="orderid"/>
        <result column="mealid" property="mealid"/>
        <result column="price" property="price"/>
        <result column="mealcount" property="mealcount"/>

        <!-- orders: -->
        <association property="ordersCustom" javaType="ordersCustom">
            <id column="id" property="id"/>
            <result column="orderprice" property="orderprice"/>
        </association>

        <!-- meal: -->
        <association property="mealCustom" javaType="mealCustom">
            <id column="id" property="id"/>
            <result column="mealname" property="mealname"/>
        </association>

    </resultMap>

    <select id="findAllOrderdts" parameterType="int" resultMap="allOrderdts">
        select orderdts.id,
               orderdts.orderid,
               orderdts.mealid,
               orderdts.price,
               orderdts.mealcount,
               orders.orderprice,
               meal.mealname
        from orders,orderdts,meal
        where orderdts.mealid = meal.id
        and orderdts.orderid = orders.id
        and orders.id = #{id}
    </select>


</mapper>